/* root: once you set you can set all colours here */
:root {
  --text-color: #f0f4f5;
  --background-color: #5c6bc0;
  --accent-color: #ffff81;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 8px;
}

.navbar__icon i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__icons {
  color: var(--text-color);
  list-style: none;
  display: flex;
}

.navbar__icons li {
  padding: 8px 8px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 20px;
  color: var(--accent-color);
}

/* Responsive Web */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 0px;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}
